[submodule "dependencies/SDL2"]
	path = dependencies/SDL2
	url = https://github.com/libsdl-org/SDL
	branch = 2.0.22
[submodule "dependencies/NFDE"]
	path = dependencies/NFDE
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "dependencies/libsodium"]
	path = dependencies/libsodium
	url = https://github.com/robinlinden/libsodium-cmake
